*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.list-data {
  font-size: 19px;
  padding: 10px 12px;
  background-color: rgb(215, 229, 239);
  color: #000;
  border-radius: 15px;
  /* width: 20%; */
}